aiofiles==24.1.0
alembic==1.13.3
appdirs==1.4.4
appnope==0.1.4
asgiref==3.8.1
asttokens==2.4.1
attrs==24.2.0
backcall==0.2.0
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.9.0
breadability==0.1.20
bs4==0.0.2
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==43.0.1
cssselect==1.2.0
decorator==5.1.1
defusedxml==0.7.1
docopt==0.6.2
executing==2.1.0
fake-useragent==1.5.1
fastjsonschema==2.20.0
filelock==3.16.1
Flask==3.1.0
fonttools==4.55.0
fsspec==2024.10.0
gensim==4.3.3
greenlet==3.1.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
huggingface-hub==0.26.1
Hypercorn==0.17.3
hyperframe==6.0.1
idna==3.8
importlib_metadata==8.5.0
ipython==8.12.3
itsdangerous==2.2.0
jedi==0.19.1
jieba==0.42.1
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
lxml==5.3.0
lxml_html_clean==0.2.2
Mako==1.3.5
markdownify==0.13.1
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
mistune==3.0.2
mpmath==1.3.0
mysql-connector-python==9.0.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.1
note_system_python_tools==1.4.0
numpy==1.26.4
opencc-python-reimplemented==0.1.7
outcome==1.3.0.post0
packaging==24.1
pandocfilters==1.5.1
parse==1.20.2
parso==0.8.4
pdfminer.six==20231228
pdfplumber==0.11.4
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.4.0
pipreqs==0.5.0
platformdirs==4.3.2
priority==2.0.0
prompt_toolkit==3.0.47
protobuf==5.28.3
ptyprocess==0.7.0
pure_eval==0.2.3
pycountry==24.6.1
pycparser==2.22
pyee==11.1.1
Pygments==2.18.0
pypdfium2==4.30.0
pyperclip==1.8.2
pypinyin==0.51.0
pyppeteer==2.0.0
pyquery==2.0.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
PyYAML==6.0.2
pyzmq==26.2.0
Quart==0.19.9
quart-cors==0.7.0
referencing==0.35.1
regex==2024.9.11
requests==2.32.3
requests-html==0.10.0
rouge==1.0.1
rpds-py==0.20.0
safetensors==0.4.5
scikit-learn==1.5.2
scipy==1.13.1
selenium==4.25.0
sentence-transformers==3.2.1
six==1.16.0
smart-open==7.0.4
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.35
stack-data==0.6.3
sumy==0.11.0
sympy==1.13.3
threadpoolctl==3.5.0
tinycss2==1.3.0
tokenizers==0.20.1
torch==2.2.2
tornado==6.4.1
tqdm==4.66.5
traitlets==5.14.3
transformers==4.46.0
trio==0.26.2
trio-websocket==0.11.1
typing_extensions==4.12.2
urllib3==1.26.20
w3lib==2.2.1
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==10.4
Werkzeug==3.1.3
wrapt==1.16.0
wsproto==1.2.0
yarg==0.1.9
zipp==3.20.2
-e git+ssh://git@github.com/hustnzj/sinology_learning.git@e4613ef49336b863f6ae021138b3d329166404cd#egg=zj_resize_png
